#忽略所有文件夹和文件，必须放在开头
/*
#排除指定的文件或文件夹
!/.gitignore
!/Code/User/keybindings.json
!/Code/User/settings.json
!/JetBrains/settings.zip
!/jesseduffield/lazygit/config.yml
!/ideavimrc
!/aria2
!/grub
!/hy2
!/i3
!/i3status
!/joshuto
!/kitty
!/ranger
!/rofi
!/st
!/sway
!/waybar
!/wezterm
!/yazi
!/zsh
!/all_colemak.reg
!/colemak.ahk
!/colemak.bat
!/ideavimrc
!/picom.conf
!/vimium
