[Unit]
Description=Run git-repo-update.service daily
After=network-online.target

[Timer]
# 每天凌晨3点30分执行
OnCalendar=*-*-* 03:30:00
# OnCalendar=hourly  # 或者，也可以简单地设置为每小时一次
# OnCalendar=daily   # 或者，每天零点
Persistent=true

[Install]
WantedBy=timers.target
