[Unit]
Description=Update all local git repositories from remotes

[Service]
Type=oneshot
# User=secadm
ExecStart=%h/Desktop/tools/update_repositories.sh

[Install]
WantedBy=default.target
